body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #4AB19A;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.bottom-cloud {
  position: absolute;
  top: 330px;
  left: 130px;
  width: 150px;
}

.bottom-container {
  background-color: #3E9C87;
  padding: 50px 0 20px;
}

.bottom-links {
  margin-bottom: 40px;
  font-size: 1.2rem;
  /* text-align: center; */
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 15px;
  background: #3E9C87;
  padding: 13px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}


.copyright-message {
  /* margin-bottom: 0px; */
  font-size: 0.75rem;
  padding: 10px 0;
}


.contact-description {
  width: 50%;
  margin: 40px auto 60px;
}

.design {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.develop {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: white;
  font-weight: lighter;
  margin: 0 20px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  color: #4AB19A;
  font-weight: normal;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #45B29A;
  font-weight: bold;
}

.intro {
  margin: auto;
  width: 50%;
  line-height: 2;
}

.land {
  width: 800px;
  padding-top: 100px;
  margin-bottom: 0
}

.main-name {
  height: 200px;
  width: 350px;
}

.middle-container {
  margin: 70px 0;
}

.navbar {
  height: 120px;
  padding-bottom: 0;
}

.navbar-elements {
  width: 320px;
  position: absolute;
  right: 130px;
  top: 50px;
}

.navbar-links {
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 20px;
}

.navbar-icon {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 130px;
  top: 25px;
}

p{
  font-family: "Merriweather", sans-serif;
  color: #40514e;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.programmer {
  margin-top: 0;
  font-size: 1.5rem;
}

.profile-picture {
  height: 130px;
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #E0EBE8;
  /* position: relative; */
}

.top-cloud {
  position: absolute;
  /* margin-top: 60px; */
  top: 150px;
  right: 210px;
  width: 100px;
}

.work {
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}
