body{
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.bottom-cloud{
  position: absolute;
  top: 330px;
  left: 130px;
  width: 150px;
}

.top-container{
  background-color: #E0EBE8;
  /* position: relative; */
}

.middle-container{
margin: 70px 0;
}

.bottom-container{
  background-color: #3E9C87;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-picture{
  height: 130px;
  width: 25%;
}

.design{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.develop{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.main-name{
  height: 200px;
  width: 350px;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  color: #4AB19A;
  font-weight: normal;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  color: #45B29A;
  font-weight: bold;
}

a{
  color: #4AB19A;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.top-cloud{
  position: absolute;
  /* margin-top: 60px; */
  top: 150px;
  right: 210px;
  width: 100px;
}

.land{
  width: 800px;
  padding-top: 100px;
  margin-bottom: 0
}

.navbar{
  height: 120px;
  padding-bottom: 0;
}

.navbar-elements{
  width: 320px;
  position: absolute;
  right: 130px;
  top: 50px;
}

.navbar-links{
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  display: inline-block;
  width: 100px;
}

.navbar-icon{
  height: 70px;
  width: 70px;
  position: absolute;
  left: 130px;
  top: 25px;
}

p{
  font-family: "Merriweather", sans-serif;
  color: #40514e;
  line-height: 2;
}

.pro{
  text-decoration: underline;
}

.programmer{
  margin-top: 0;
  font-size: 1.5rem;
}

.btn {
  background: #4AB19A;
  background-image: -webkit-linear-gradient(top, #4AB19A, #288a72);
  background-image: -moz-linear-gradient(top, #4AB19A, #288a72);
  background-image: -ms-linear-gradient(top, #4AB19A, #288a72);
  background-image: -o-linear-gradient(top, #4AB19A, #288a72);
  background-image: linear-gradient(to bottom, #4AB19A, #288a72);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.intro{
  margin: auto;
  width: 50%;
  line-height: 2;
}

.contact-description{
  width: 50%;
  margin: 40px auto 60px;
}

.footer-link{
  color: white;
  font-weight: lighter;
  margin: 0 20px;
}

.copyright-message{
  margin-bottom: 0px;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-links{
  margin-bottom: 40px;
}
